head + body {
    margin: 0%;
    padding: 10px;
}
#fotoPerfil:empty{
    float: right;
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
body{
    margin: 0;
    padding: 0;
    background: url(fondocv.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
header{
    display: flex;
    height: auto;
    justify-content: space-evenly;
    align-items: center;
}